body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    background: #333;
    line-height: 1.6em;
}

.wrap {
    max-width: 960px;
    margin: 50px auto;
}

.container {
    width: 95%;
    height: 350px;
    position: relative;
    border: 2px solid #666;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}

.container .arrow-left {
    position: absolute;
    left: 0;
    top: 50;
}

.container .arrow-right {
    position: absolute;
    right: 0;
    top: 50;
}
